@import url("https://fonts.googleapis.com/css2?family=League+Spartan:wght@400;500;600;700&family=Poppins:wght@400;500;600;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-base-darkest text-text-primary font-sans antialiased;
  }

  ::selection {
    @apply bg-brand/80 text-base-dark;
  }
}
